<h2>Stations near <%= @search_param %></h2>

<% @stations_presenter.stations.each do |station| %>
  <% binding.pry %>
<ul>  
  <li>Name:  <%= station.name %></li>
  <li>Address: <%= station.address %></li> 
  <li>Fuel type: <%= station.fuel_type %></li>
  <li>Distance: <%= station.distance %></li>
  <li>Access days and times: <%= station.access_days_and_times %></li>
</ul>
<br />
<% end %>

